# .env 文件（这个文件千万不要上传到GitHub）
OSS_ENDPOINT=https://oss-cn-chengdu.aliyuncs.com
OSS_BUCKET_NAME=python-chatroom
OSS_ACCESS_KEY_ID=yours_key
OSS_ACCESS_KEY_SECRET=yours_secret
OSS_BUCKET_DOMAIN=https://OSS_BUCKET_NAME.OSS_ENDPOINT (https://python-chatroom.oss-cn-chengdu.aliyuncs.com)